* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik";
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.app {
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 8px;
  min-width: 500px;
}
.app h2 {
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  font-weight: 500;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: fit-content;
}
.cart-items {
  margin-top: 20px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

img {
  border-radius: 8px;
}
.details h4 {
  margin: 5px 0;
}
.details span {
  font-size: 0.8em;
}
.quantity {
  border: 1px solid #eee;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.quantity span {
  margin: 0 10px;
}
.discount {
  display: flex;
  gap: 20px;
}
.discount input {
  flex: 1;
  padding: 10px 10px;
  border-radius: 8px;
  border: 1px solid #eee;
  outline: none;
  font-family: inherit;
  font-size: medium;
}
.discount button {
  background-color: crimson;
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-family: inherit;
}
.summary {
  margin: 15px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.summary .subtotal,
.summary .discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summary .discount {
  font-size: 13px;
  margin-top: 10px;
}
.to-pay {
  margin-bottom: 15px;
}
.to-pay .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.to-pay .total span {
  font-weight: bold;
}
.to-pay button {
  margin-top: 15px;
  width: 100%;
  background-color: rgb(57, 57, 224);
  padding: 10px;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
}
